{% extends "base.html" %}
{% block content %}

<div class="relative flex flex-wrap justify-center items-center bg-teal-100">
    <img class="w-full lg:pl-10 lg:pr-10 lg:h-auto object-cover p-5" src="static/images/gold-teal-beach.webp" alt="Beach">
    <h2 class="font-bold w-1/2 sm:w-2/3 absolute text-center px-5 py-3 metallic-gold-trans rounded-md text-xl sm:px-6 sm:py-4 md:text-3xl lg:text-5xl xl:text-6xl xl:px-8 xl:py-6 2xl:px-10 2xl:py-8 top-1/2 transform -translate-y-1/2 sm:top-1/2">
        Homecoming Weddings Vacations we'll get you ready for your big day
    </h2>
</div>



{% endblock content %}
