<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<script src=""></script>
<body>

<form method="POST" action="">
    {% csrf_token %}
    {{ form1.as_p }}
    <input type="submit" name='user'>
</form>

<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form2.as_p }}
    <input type="submit" name='product'>
</form>

<form method="POST" action="">
{% csrf_token %}
{% for product in products %}
    <p>----------------------------</p>
    <p> {{ product.name }} </p>
    <p> {{ product.price }} </p>
    <p> {{ product.desc }} </p>
    <img src="{{property.picture.url}}">
    <button name='delete_product' value={{product.id}}>delete</button>
{% endfor %}
</form>

<form method="POST" action="">
    {% csrf_token %}
    {% for user in users %}
        <p>----------------------------</p>
        <p> {{ user.fname }} </p>
        <p> {{ user.lname }} </p>
        <p> {{ user.number }} </p>
        <p> {{ user.email }} </p>
        <button name='delete_user' value={{user.id}}>delete</button>
    {% endfor %}
</form>

</body>
</html>
